@model IEnumerable<MoneyManager.Models.QuickPurchase>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.QuickPurchaseName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QuickPurchaseDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QuickPurchaseAmount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QuickPurchaseOrigin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QuickPurchaseReason)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.QuickPurchaseName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.QuickPurchaseDate)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.QuickPurchaseAmount)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.QuickPurchaseOrigin)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.QuickPurchaseReason)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
        @Html.ActionLink("Details", "Details", new { id = item.ID }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.ID })
    </td>
</tr>
}

</table>
